<ion-content class="login-background">

  <div class="login-background2">
    <ion-img src="assets/logo.png" style="width: 50%;
    /* height: 50%; */
    margin: auto;
    position: relative;
    top: 7em;">
    </ion-img>
    <form class="form-background">
      <ion-item>
        <ion-input placeholder="Nom d'utilisateur">
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Mot de passe" type="passeword">
          <ion-icon slot="start" name="lock"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-button class="button-login" expand="full">Se connecter</ion-button>
      <div class="login-ou">
        <hr>
        <p>OU</p>
        <hr>
      </div>
      <ion-button class="button-login" expand="full">S'inscrire</ion-button>
    </form>
  </div>


</ion-content>